* {
    padding: 0%;
    margin: 0%;


}

nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 5%;
    height: 90px;
    background-color: black;

}

nav .logo {
    float: left;
    width: 10%;
    height: 80%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;

}

nav .logo:hover {
    color: rgb(255, 0, 0);
}

nav .list {

    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .list li {
    list-style: none;


}

nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav .list a:hover {
    border-bottom: 4px solid rgb(76, 146, 207);

}

#toggle {
    position: relative;
    top: -100px;
}

nav .icon_barra {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);


}

nav.icon_barra .line {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media(max-width:768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .list {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .list a {
        font-size: 20px;

    }

    nav :checked~.list {
        bottom: 0;
    }

    nav .icon_barra {
        display: block;
    }


}


.section1 {
    background-color: rgb(255, 255, 255);
}

.Galeria-imagenes {
    display: flex;
    width: 1400px;
    height: 500px;
    border-radius: 20px;
    border-style: hidden;
}

section {
    display: flex;
    width: 1000px;
    height: 650px;
    border-radius: 20px;
    border-style: hidden;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
}



@keyframes animate {
    0% {
        transform: translate(-50%, 75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, 75%) rotate(360deg);
    }
}

footer {
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: rgb(3, 3, 3);
}

.menu {
    position: relative;
    display: inline-block;
}

#menuItems {
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menuItems li {
    margin: 0;
    padding: 0;
}

#menuItems a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

#menuItems a:hover {
    background-color: #ddd;
}